

#infCol{
    background-color: #f3f3f3;
}
#mapCol{
    padding-left: 0;
    padding-right: 0;
}

#map{
    background-color: beige;
}

#snoAlertBox{
    position:absolute;
    z-index:1400;
    top:2%;
    right:4%;
    margin:0px auto;
    text-align:center;
    display: none;
}